@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.mx-datepicker {
    width: 100% !important;
    display: block !important;
}
ul li:last-child > div {
    padding-bottom: 0;
}
